extends layout

block content
	div.container
	div.card
		div.card-header.bg-secondary.white-font #{title}
		div.card-body
			dl.row
				dt.col-sm-3 Firstname
				dd.col-sm-9 #{body.first_name}
				dt.col-sm-3 Lastname
				dd.col-sm-9 #{body.last_name}
				dt.col-sm-3 Country
				dd.col-sm-9 #{body.country}
				dt.col-sm-3 Birthdate
				dd.col-sm-9 #{body.date}


