extends layout

block content
	script(src='../javascripts/owndatepicker.js')
	script(src='../javascripts/validation.js')
	div.container
	div.card
		each error in errors
				p.alert.alert-danger= error.msg
		div.card-header.bg-secondary.white-font #{title}
		div.card-body
			div.row
				div.col-md-4

					form(method='POST' action='/cv')
						div.form-group
							label(for='first_name') First name:
								input#firstname.form-control(type='text', placeholder='first name' name='first_name')
						div.form-group
							label(for='last_name') Last name:
								input#lastname.form-control(type='text', placeholder='last name' name='last_name')
						div.form-group
							label(for='country') Country:
							select.form-control(name='country', id='country')
								each val in ['Hungary' , 'Germany' , 'Great Britain']
									option=val
						div.form-group
							label(for='date') Birthdate:
								input#date.form-control(type='text', placeholder='yyyy.MM.dd' name='date')
						button.btn.btn-primary(type='submit') Submit